.card-header{

color:white;
font-family: serif;

}
.card-title{
  font-family: serif;
  color:#bea925;
  font-weight:bold;
  
}
.card{
  background-color: #333;
  background: #333;
  width: 60%;
  display: flex;
  margin-top: 50px;
  align-items: center;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  flex-shrink: 0;
  margin-left:20%;
 
}
body{
  background-color: #bea925
}
.card2{
  background-color: #333;
  background: #333;
  width: 60%;
  display: flex;
  margin-top: 50px;
  align-items: center;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  flex-shrink: 0;
  margin-left:20%;
  color: white;

}
.box{
  width: 100%;
  display: flex;
  margin-top: 50px;
  font-family: serif;
  color:#bea925;
  font-weight:bold;

 
}
